.item > * {
  pointer-events: none;
}

.item {
  margin-bottom: 10px;
  margin-top: 10px;
}

.parent :hover {
  background: rgba(129, 129, 129, 0.16);
  border-radius: 20px;
}

.selected-items {
  background: rgba(129, 129, 129, 0.16);
  border-radius: 20px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(auto-fill, 205px);
  justify-items: center;
  align-items: center;
}

.button-item {
  background: #ffffff;
  cursor: pointer;
}

.button-item span {
  font-size: 19px;
  margin-left: 8px;
  height: 100%;
  width: 100%;
}

.button-item :hover {
  background: #f6f6f6;
  border-radius: 10px;
}

.end-item {
  border-top: solid black 1px;
}
