.parent {
  display: grid;
  grid-template-columns: repeat(auto-fill, 205px);
  justify-items: center;
  align-items: center;
}

.parent img {
  height: 175px;
  width: 175px;
}

.container-grid {
  padding: 50px 100px;
}

.button-item {
  background: #ffffff;
  cursor: pointer;
}

.button-item span {
  font-size: 19px;
  margin-left: 8px;
  height: 100%;
  width: 100%;
}

.button-item :hover {
  background: #f6f6f6;
  border-radius: 10px;
}
