<div class="container-grid h-100" (contextmenu)="openContextMenu($event)">
  <div class="ms-3">
    <app-breadcrumb
      [path]="path"
      [pathArray]="pathArray"
      (backClick)="transitionBack($event)"
      (breadcrumbClick)="breadcrumbClick($event)"
    />
  </div>
  <app-view-file-system
    [currentItems]="currentItems"
    [path]="path"
    (doubleClickFileSystem)="transitionToChildren($event)"
    (overOnFileSystemEvent)="setOverOnFileSystem($event)"
    (closeMainContextMenu)="closeMainContextMenu($event)"
    (callContextMenuOnContextMenuComponent)="setContextMenuOnContextMenuComponent($event)"/>
</div>

<div #contextMenu>
  <app-context-menu
    [visible]="visibleContextMenu"
    [x]="x"
    [y]="y"
    (clickContext)="clickContext($event)">
    <div (click)="openCreateFolder()" class="button-item text-center">
      <div>Create folder</div>
    </div>
    <div (click)="openUploadFile()" class="button-item text-center">
      <div>Upload file</div>
    </div>
  </app-context-menu>
</div>




