<form (ngSubmit)="submit()" [formGroup]="formRequest" class="h-100 d-flex justify-content-center flex-column">
  <div class="d-flex justify-content-center">
    <div class="container">
      <div class="row">
        <div class="col"></div>
        <div class="col-6">
          <div *ngIf="errorMessage" class="text-danger">
            {{errorMessage}}
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>
  <div class="text-center mb-5">Request for change password</div>
  <app-input-module class="mb-3"
  [formGroup]="formRequest"
  [controlName]="controlsName[0]"
  label="Your login or email"
  placeholder="Enter your login or email"
  type="text"
  messageError="Make sure that you have entered your
    login or email and it is greater than or equal to 5 characters"
  />
  <div class="d-flex justify-content-center">
    <div class="container">
      <div class="row">
        <div class="col"></div>
        <div class="col-6">
          <button type="submit"
                  [disabled]="formRequest.invalid"
                  class="btn btn-primary me-2">
            send
          </button>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>
</form>
