<div class="modal-header">
  <h4 class="modal-title">Create folder</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <form (ngSubmit)="changeName()" >
    <div class="mb-3">
      <p *ngIf="name.invalid && name.touched"
         class="text-danger">
        name must one sign or more
      </p>
      <label for="nameFileSystem">Input name folder</label>
      <div class="input-group">
        <input id="nameFileSystem"
               class="form-control"
               placeholder="Input new name"
               [formControl]="name">
      </div>
    </div>
    <div class="mb-3">
      <button [disabled]="name.invalid" class="btn btn-primary">Change item</button>
    </div>
  </form>
</div>
